.matched_notify_img {
    position: relative;
    object-position: 50% 50%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid  white;
    z-index: 300;
}
.matched_not_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 3.2rem;
    z-index: 500;
}

.headingFont{
    font-family: 'Lobster Two', cursive;
    font-family: 'Lobster', cursive;
}