.ProfileEdit {
    margin: 0 auto;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #000000;
}
.header-edit{
    height: 3rem;
    width: 100%;
    position: fixed;
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 2px 2px 8px 0px #61198ec7  ;
}
.editPage{
    overflow-y: scroll;
    margin-top: 4rem;
}
.bio_input{
    resize: none;
}
@media (min-width: 768px) {
    .ProfileEdit{
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        min-width: 385px;
        max-width: 45%;
        box-shadow: 2px 3px 10px 0px #d2cbcbc7;
        max-height: 667px;
        border-radius: 0.4rem;
        height: calc(100vh - 44px);
    }
   
    
}
